/* 小广告部分开始 */
.top{
	width:100%;
	height:100%;
	margin:0 auto;
	background-color: rgb(255,255,255);
	overflow: hidden;
	position: relative;
}
.top_pic{
	width:1240px;
	margin:0 auto;
	position: relative;
}
.top_pic a img{
	width:1920px;
	margin:0 auto;
	margin-left:-960px;
	position:relative;
	left:50%;
	border-style:none;
	vertical-align:top;
}
.close{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	right:0px;
	top:10px; 
	color:black;
	z-index:999;
	text-align: center;
	line-height: 20px;	
}
.close .icon-chacha{
	font-size: 22px;
	color: #ccc;
}
/* 顶部小广告部分结束 */

/*导航栏部分开始*/
.one{
	position: relative;
    width: 100%;
    z-index: 998;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.box{
	width:1240px;
	margin:0 auto;
	display:block;
}
.box :after{
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.box:before{
    display: table;
}
.logo{
	float: left;
    height: 80px;
    overflow: hidden;
    display: block;
}
.logo a{
	position: relative;
    color: #00c3f5;
    display: block;
    width: 115px;
}
.logo a img{
	max-height: 20px;
    max-width: 110px;
    color: #0bbbef;
    margin-top: 30px;
    vertical-align: top;
}
.word{
	float:left;
	display:block;
}
.word li{
	float:left;
}
.word a{
	display:block;
	float:left;
	padding: 20px 20px 0;
    height: 42px;
    line-height: 42px;
    color:black;
}
.word :hover a {
	color:skyblue;
}
.right{
	float:left;
	width:250px;
	height:80px;
	display:block;
}
.right li{
	display:block;
	float:left;
}
.right li input{
	width:150px;
}
.icon-fangdajing{
	color:black;
	font-size:12px;
	margin-right:10px;
}
.iconfont icon-geren{
	float:left;
	display:block
}
.iconfont icon-gouwuche1{
	float:left;
	display:block
}
.mz_input{
	position: relative;
    height: 30px;
    border-radius: 20px;
    padding:0;
    margin: 25px 5px 30px;
    width: 180px;
    text-align:left;
    word-break: keep-all;
    white-space: nowrap;
    border:1px solid #e5e5e5;
    line-height: 28px;
    transition: all .8s ease-in-out;
    color:gray;
    padding-left:15px;
    color:#999;
}
.right .wode{
	margin-top:33px;
	margin-left:7px; 
}
.right .car{
	margin-top:-15px;
	margin-left:27px;
}
/*导航栏部分结束*/

/*轮播图部分开始*/
.swiper-container {
	width: 100%;
	height: 480px;
	box-sizing:border-box;
	position:relative;
}
.swiper-wrapper{
	width:1240px;
	position: relative;
	border-style:none;
}
.swiper-wrapper img{
	margin-left:-960px;
	position:relative;
	overflow:hidden;
	margin:auto;
}


.box_a {
	width: 1000px;
	height: auto;
	position: relative;
	margin: 0 auto;
	top: -480px;
	z-index: 999;
	margin-left:50px;
}

.nav_left {
	width: 200px;
	height: 480px;
	background: #FF0036;
}

.nav_left ul {
	width: 100%;
	height: auto;
	padding-bottom: 5px;
}

.nav_left ul li {
	height: 50px;
	line-height: 50px;
	text-align: left;
}

.nav_left ul li span {
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
	display: block;
	background:#eee;
	color:black;
}

.nav_left ul li span:hover {
	color:gray;
	background: #FFFFFF;
}

.nav_right {
	width: 800px;
	height: 480px;
	position: absolute;
	margin-left: 200px;
	top: 0px;
}

.sub {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 480px;
	background: #FFFFFF;
	padding: 10px 0px;
}

.sub dl {
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}

.sub dt {
	width: 100px;
	float: left;
	display: block;
	position: relative;
	clear: left;
}

.sub dt a {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
	cursor: pointer;
}

.sub dt i {
	width: 4px;
	right: 12px;
	top: 2px;
	font-size: 14px;
	position: absolute;
	font-style: normal;
}

.sub dd {
	width: 680px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
	font-size: 14px;
	float: left;
	color: #666;
	padding: 0 10px;
	margin: 4px 0px 10px 0px;
	text-decoration: none;
	cursor: pointer;
	border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
	color: #FF0036;
}

.hide {
	display: none;
}

.show {
	display: block;
}
/*轮播图部分结束*/


/*以旧换新部分开始*/
.pic{
	width:100%;
	height:140px;
	margin:0 auto;
	overflow:hidden;
	margin-top:6px;
	padding-bottom:25px;
}
.pic_one{
	width:1240px;
	margin:0 auto;
}
.m{
	margin-top: 6px;
    height: 140px;
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
}
.m_ma{
	margin-left: 0;
	width:244px;
	height:100%;
	float:left;
	padding-top:15px;
}
.m_ma a{
	float: left;
    display:block;
    width: 122px;
    height: 40px;
    text-align: center;
    color:black;
    font-size: 12px;
    padding: 15px 0;
    transition: color .5s;
}
.m_ma a span{
	display:block;
	margin-top:5px;
}
.m_ma a:hover i{
	color:gray;
}
.m_ma a:hover span{
	color:gray;
}
.meilan{
	float: left;
    width: 244px;
    height: 100%;
    margin-left: 5px;
}
.meilan a{
	display: block;
    width: 244px;
    height: 100%;
    background-color: transparent;
}
.meilan a img{
	width: 100%;
    height: 100%;
    border-style: none;
    vertical-align: top;
}

/*以旧换新部分结束*/


/*  热品推荐部分  */
.goods{
  width:1240px;
  height:460px;
  margin:0 auto;
  background-color:#f8f8f8;
  overflow:hidden;
  padding-left:3px;
  margin-bottom:5px;
  margin-top:10px;
}
.words_remai{
  height:45px;
  background-color:#f8f8f8;
}
.words_remai h3{
  color:#515151;
  font-size:30px;
  line-height: 45px; 
}

.center{
  width:100%;
  height:450px;
  display: flex;
  margin-top: 10px;
}
.center_onea{
  width:247px;
  height:400px;
  /*margin-left:50px;*/
  background-color:#fff;
  border:1px solid #eee;
}
.center_one{
  width:247px;
  height:400px;
  /*margin-left: 10px;*/
  background-color:#fff;
  border:1px solid #eee;
}
.center_one:last-child{
  border:1px solid #eee;
}
.center a{
  width:247px;
  height:300px;
  display:block;
}
.center a img{
  width:115px;
  height:230x;
  margin:0 auto;
  padding-top:30px;
}
.center_two{
  width:115px;
  height:80x;
  display:block;
  text-align: center;
  margin-left:70px;
  line-height:22px;
}
.goods .center_two .name {
    color: #333;
    font-size: 16px;
    margin-bottom: 2px;
    display:block;
}
.goods .center_two .time {
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    display:block;
    background-color:red;
    width:60px;
    /*padding-left:50px;*/
    text-align:center;
    margin:0 auto;
}
.goods .center_two .price{
    color: #cc0000;
    font-size: 16px;
    margin-bottom: 2px;
    display:block;
}

.center_a{
  width:303px;
  height:400px;
  display: flex;
  margin-top: 10px;
}
.center_a a{
  width:303px;
  height:266px;
  display:block;
}
.center_a a img{
  width:115px;
  height:230x;
  margin:0 auto;
  padding-top:30px;
}
.goods .center_onea:hover {
    -webkit-box-shadow:0px 0px 10px #ddd;
}
.goods .center_one:hover {
    -webkit-box-shadow:0px 0px 10px #ddd;
}


/*<!-- 领劵立减50元部分部分 -->*/
.juan{
	width:100%;
	height:120px;
	margin:0 auto;
	background-color: rgb(255,255,255);
	overflow: hidden;
	position: relative;
}
.juan_pic{
	width:1240px;
	margin:0 auto;
	position: relative;
}
.juan_pic a img{
	/*width:1920px;*/
	margin:0 auto;
	margin-left:-621px;
	position:relative;
	left:50%;
	border-style:none;
	vertical-align:top;
	margin-top: 30px;
}




/* 侧边栏部分 */
.aside{
   width:125px;
   height:150px;
   right:-75px;
   position:fixed;
   background-color:#d8d8d8;
   /* z-index: 9999; */
}
.aside .er{
  width: 202px;
  height: 245px;
  position: relative;
  left: -202px;
  top: -296px;
  overflow: hidden;
  
}
.aside .er img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 246px;
}
.aside p{
  width: 100%;
  height: 50px;
  
}
.aside .p1{
  position: relative;
  top: 0;
  left: 0;
}
.aside .p1:hover{
  left: -75px;
  top: 0;
  transition: 0.5s;
}
.aside p:hover{
  background-color: #515151;
}
.aside .p3{
  position: relative;
  top: 0;
  left: 0;
}
.aside .p2{
  width: 50px;
    text-align: center;
      line-height: 50px;
      font-weight: 600;
      font-size: 16px;
      box-sizing: border-box;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
}
.aside p .icon-shangjiantou{
  font-size: 32px;
}
.aside p i{
  display: block;
  height: 100%;
  width: 50px;
  line-height: 50px;
  font-size: 26px;
  text-align: center;
  float: left;
}
.aside p span{
  display: block;
    float: left;
    text-align: center;
    line-height: 50px;
}


