/*顶部logo部分*/

.header_one{
    width:1349px;
    height:81px;
    margin:0 auto;
    /*padding-top: 28px;
    padding-bottom: 40px;*/
    background:#fff;
    cursor: pointer;
}
.header_a{
    float: left;
    height: 50px;
    overflow: hidden;
    margin-top: 30px;
}
.header_a a{
	float: left;
    height: 20px;
    overflow: hidden;
    display: block;
    color: #515151;
    text-decoration: none;
    margin-left: 60px;
    display:block;
}
.header_a a img{
	width:110px;
	height:20px;
	display:block;
}
.header_b{
    float: left;
    margin-left: 50px;
    line-height: 80px;
    margin-top: -30px;
}
.header_b a{
    color: #333;
    font-size: 14px;
    float:left;
    margin-right:20px;
    margin-top: 30px;
}
.header_b a span{
    width:72px;
    height:80px;
    line-height: 80px;
}
.header_c{
    float: right;
    height:60px;
    font-size: 12px;
    line-height: 40px;
    margin-top: 20px;
    margin-right:30px;
}
.header_c a{
    float: left;
    padding: 0 20px;
    color:#666;
}

/*商品部分*/
.header{
    width:1240px;
    background:#fff;
    height:50px;
    margin:0 auto;
    overflow: hidden;
    padding:0 0px 0 7px;
    margin-top: 20px;
}

.head_left{
    float:left;
}
.head_left label{
    line-height:40px;
    /*margin-left: 50px;*/
}
.head_left label middle{
    vertical-align: middle;
}
.head_left label input{
    margin-right:20px;
    vertical-align: middle;
}
.head_left a{
    line-height: 28px;
    padding-left: 260px;
    width:150px;
}

.head_right{
    float: right;
    line-height:50px;
    margin-right: -17px;
}
.head_right a{
    float:left;
    /*margin-right: 35px;
    margin-left: 15px;*/
    margin:0 35px 0 15px;
    color: black;
} 
.head_right span{
    float:left;
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin:0 20px 0 20px;
} 

.nav{
    width:1240px;
    height:20px;
    margin:0 auto;
    border-bottom: 1px solid #a9a9a9;
    overflow: hidden;
    padding-top:10px;
}
.nav input{
    float: left;
    /*margin-left: 7px;
    margin-right: 6px;
    margin-top:4px;*/
    margin:4px 6px 0 7px;

    line-height: 20px;
}
.nav a{
    vertical-align: middle;
    width:50px;
    line-height:12px;
    float: left;
    margin-top:4px;
    text-align: center;
    background: #e4393b;
    color:#fff;
}

.content{
    width:1239px;
    border:1px solid #f5f5f5;
    margin:0 auto;
}
.con{
    padding:0 5px;
    overflow:hidden;
    background-color:#ffff;
}
.select{
    margin-top:13px;
    float:left;
}
.goodlist{
    float:left;
    width: 1190px;
    border-top: 1px solid #f5f5f5;
    margin:9px 0px 10px 12px;
}
.good_top{
    margin-top: 10px;
}
.good_t_l{
    float:left;
}
.good_t_l a{
    width:120px;
    height:120px;
    float:left;
    border:1px solid #f0efee;
    text-align: center;
    margin-right: 120px;
}
.good_t_l a img{
    display:block;
    width:100px;
    height:100px;
    margin: 10px;
}
.word{
    float:left;
    width:126px;
   /* margin-right: 30px;
    margin-top: 25px;*/
    margin:25px 30px 0 0;
}
.word h3{
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #999;
}
.color {
    float:left;
    margin-top: 25px;
}
.color p{
    font-size: 8px;
    line-height: 30px;
}

.good_t_r{
    float: right;
    margin-top:50px;
}
.single{
    margin-right: 30px;
    float: left;
    color:#666;
}

.number{
    float: left;
    width:49px;
    height:14px;
    border:1px solid #eee;
    margin-right: 20px;
}
.number a{
    
    text-align: center;
    line-height: 14px;
    width:10px;
}
.number a:nth-child(1){
    float: left;
    border-right:1px solid #eee;
}
.number a:nth-child(3){
    float: right;
    border-left:1px solid #eee;
}
.number input{
    float: left;
    text-align: center;
    line-height: 14px;
    width:27px;
    border:none;
    outline: none;
}
.sum{
    margin-right:20px;
    float: left;
    width:70px;
    color: #e02b41;
}
.delete{
    margin-right:15px;
    float: left;
    color:black;
}


.all{
    width:1240px;
    height:40px;
    margin:0 auto;
    line-height: 40px;
    border: 1px solid #eee;
    margin-bottom: 40px;
}

.all_left{
    float: left;
    padding-left: 6px;

}
.all_left label input{
    margin-right: 6px;
    vertical-align: middle;
}
.all_right{
    float: right;
}
.already{
    float: left;
    width:110px;
    text-align: center;
}
.already span{
    display: inline-block;
    color:red;
    width:30px;
}

.all_right p {
    width: 140px;
    text-align: center;
    float: left;

}
.all_right p span{
    color:red;
    display: inline-block;
    width:60px;
}
.checkout{
    float:right;
    width: 70px;
    text-align: center;
    color:white;
    font-size: 14px;
    background-color: #DBDBDB!important
}


/* footer部分 */
.footer{
    z-index: 999;
    font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
    font-size: 14px;
    color: #515151;
    position: relative;
    background-color: #fff;
    overflow:hidden;
    margin-bottom:20px;
  }
.footer-wrap{
    width: 1240px;
    height:220px;
    margin: 0 auto;
}
/*01_footer-row*/
.footer-row{
    width: 1240px;
    height:140px;
    position: relative;
    text-rendering: optimizespeed;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    background-color: white;
    border-bottom:1px solid #eeeeee;
  }
.sf{
    padding-left:20px;
    padding-top:40px;
}
.xiaotu :hover span {
    color:#3db1fa;
} 
.xiaotu a{
  margin:0 25px;
}
.sf .xiaotu li{
    float:left;
    /* margin-top:10px; */
}
.sf .xiaotu li a img{
    width:50px;
    height:;
    display:block;
    margin:0 auto;
}
.sf .xiaotu li a span{
    display:block;
    font-size:12px;
    margin:10px 5px;
}
.footer-row .ii-online{
    width: 20.2%;
    position: absolute;
    right: 0;
    padding-top:30px;
  }
.footer-row .ii-online .call{
    float: right;
  }
.footer-row .ii-online .call .hot24{
    text-align:right;
    color: #999;
    font-size: 12px;
    padding-bottom:10px;
  }
.footer-row .ii-online .call .meizu-footer-phone{
    font-size: 25px;
    color: #3db1fa;
  }
.footer-row .ii-online .call .button{
    background-color: #3db1fa;
    color: #fff;
    width: 115px;
    height: 25px;
    line-height:28px;
    font-size: 12px;
    margin-top: 15px;
    outline: 0;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    border: none;
    float: right;
    border-radius: 25px;
  }
.footer-row .ii-online .call .button:hover{
    background-color: #3aa1fa;
}
/* .bottom a :hover img{
    background-color:#3aa1fa;
} */
.footer-row .ii-online .call .button img{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    background-color: initial;
}
.footer-meizua{
    width:1240px;
    height:65px;
    position:relative;
    padding-top:25px;
}
.footer-meizu{
    width:1024px;
    height:18px;
    padding-left:10px;
}
.footer-meizu .wenzi li a img{
    margin:0 5px;
    display:block;
    float:left;
}
.footer-meizu .wenzi li{
    float:left;
    text-align:center;
    line-height:20px;
}
.footer-meizu .wenzi li a{
    margin:0 10px;
    font-size: 12px;
}
.wenzi :hover a{
    color:#3db1fa;
}
.bottom{
    width:1094px;
    height:34px;
    padding-left:10px;
    float:left;
}
.bottom_a :hover a{
    color:#3db1fa;
}
.bottom .bottom_a li{
    float:left;
    text-align:center;
    line-height:35px;
}
.bottom .bottom_a li a{
    margin:0 12px;
    font-size: 12px;
}
.bottom .bottom_a li a img{
    margin:10px 5px;
    display:block;
    float:left;
}
.bottom .bottom_a li a span img{
    float:right;
    margin:10px 5px;
}
.tu{
    width:132px;
    height:40px;
    padding-left:1110px;

}
.tu .wx a .weixin_a{
    display:none;
}
.tu_a li{
    float:left;
    line-height:20px;
}
.tu_a li a img{
    margin:0 11px;
}
.wb :hover img{
    background-color:red;
}
.wx :hover img{
    background-color:green;
}
.qq :hover img{
    background-color:yellow;
}



